@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
   --couleur-orange:#FC8A06;
   --couleur-container:#FBFBFB;
   --border:rgba(0, 0, 0, 0.2);
   --text-color-orange:#0000;
   --text-color-black:#0000;
   --border-radius-container:12px;
   --border-radius-ajouter:120px;

}


.body{
    font-family:"Poppins", sans-serif;
    background-color: white;
}

.title{
   font-family:"angkor", sans-serif ;
   font-size: 24px;
   position: static;

}

.container{
    background-color: var(--couleur-container);
    border:1px solid var(--border);
    border-radius: var(--border-radius-container);
    margin: 30px;

}

.content-left{
   margin-left: 100px;
   margin-top: 80px;
}
 
.content-left .afficher-ingredients{
   width: 421px;  
   height: 155px;
   background-color: #FFFFFF;
   border: 1px solid var(--border);
   border-radius:30px ;
   margin-top: 15px;
}
.content-left p{
    font-size: 13px;

}
.content-left h1{
    font-size: 44px;
    font-weight: 800;
}
.content-left h1 span{
    color: var(--couleur-orange);
}

#placeholder{
    width: 368px;
    height: 34px;
    border: 1px solid var(--border);
    border-radius: 120px;
    padding-left: 15px;
}
#placeholder:focus{
    outline: none;
    border: 2px solid var(--couleur-orange);
}
#btn-ajouter{
    width: 168px;
    height: 39px;
    border: none;
    border-radius: 120px;
    color: white;
    background-color: var(--couleur-orange);
    transform: translateX(-100px);
    font-weight: 600;

}
#btn-ajouter:hover{
    transition:200ms ease-in-out;
    transform:translateX(-100px) scale(1.05);
    
}

#trv-recette{
  width: 168px;
    height: 39px;
    border: none;
    border-radius: 120px;
    color: white;
    background-color: var(--couleur-orange);
    font-weight: 600;
    margin-top: 15px;
}

#trv-recette:hover{
   transition:200ms ease-in-out;
   transform:scale(1.05);
}
.content-right{
    display: flex;
    flex-direction: row;
}
.fond-orange{
    position: absolute;
    top: 250px; 
    right: 38px;
}

.femme{
    position: absolute;
    top: 335px; 
    right: 350px; 

}
.etape-1{
    position: absolute;
    top: 250px; 
    right: 130px; 
}
.etape-1 #img1{
    position: relative;
    right: -280px;
    top: 10px;
}
.etape-2 #img2{
    position: relative;
    right: -280px;
    top: 10px;
}
.etape-3 #img3{
    position: relative;
    right: -280px;
    top: 10px;
}
.etape-1 .card{
    background-color: #FBFBFB;
    padding: 10px;
    width: 310px;
    height:50px ;
    border-radius: 20px;
 
}
  .etape-1 .card p{
    margin-top: -15px;
  } 
   .etape-1 .card h4{
    margin-top: -4px;
    font-style:italic;
  } 
.etape-2{
    position: absolute;
    top: 400px; 
    right: 70px; 
}
.etape-2 .card{
    background-color: #FBFBFB;
    padding: 10px;
    width: 310px;
    height:50px ;
    border-radius: 20px;
}
 .etape-2 .card p{
    margin-top: -15px;
  } 
   .etape-2 .card h4{
    margin-top: -2px;
    font-style:italic;
  } 
.etape-3{
    position: absolute;
    top: 550px; 
    right: 130px; 
}
.etape-3 .card{
    background-color: #FBFBFB;
    padding: 10px;
    width: 310px;
    height:50px ;
    border-radius: 20px;
}
 .etape-3 .card p{
    margin-top: -15px;
  } 
   .etape-3 .card h4{
    margin-top: -2px;
    font-style:italic;
  } 

  .recette{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
  h2{
    margin-left:50px ;
  }

  .card-recette{
    background-color: #F5F5F5;
    width: 238px;
    height: 308px;
  }
 .card-recette img{
    width: 100%;
 }
  .card-recette input{
    width: 128px;
    height: 35px;
    margin-top: -13px;
    border: 1px solid var(--couleur-orange);
    background-color: white;
    color: #FC8A06;
    font-weight: 600;
    border-radius:30px ;
  }

  .card-recette input:hover{
    color: white;
    background-color: #FC8A06;
    transition: 300ms ease;
  }